package ${groupId}.mvc.repository;

import ${groupId}.base.BaseRepository;
import ${groupId}.mvc.bean.entity__RELATE_PATH____NAME__;
import org.springframework.stereotype.Repository;


@Repository
public interface __NAME__Repository extends BaseRepository<__NAME__, __ID_TYPE__> {

}
